* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

.title {
    font-size: 96px;
    letter-spacing: 16px;
    color: white;
    text-shadow: -4px 4px #ff0000;
    text-align: center;
}

input {
    all: unset;
    min-width: 200px;
    min-height: 30px;
    width: 20vw;
    height: 5vh;
    background-color: cyan;
    border-radius: 16px;
    padding: 0px 24px;
}

h2 {
    min-width: 200px;
    text-align: center;
    color: white;
}

#content {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 66);
    gap: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#gameStatus {
    width: 100%;
    height: 100px;
    padding: 0px 10vw;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    white-space: pre;
}

#gameContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.gameBoard {
    width: 100%;
    height: 100%;
    padding: 0px 0px;
    gap: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: 0;
}

.grid {
    width: 620px;
    height: 600px;
    padding: 0px 0px;
    gap: 2px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.column {
    width: auto;
    height: 600px;
    gap: 2px;
    display: flex;
    flex-flow: column nowrap;
}

.row {
    width: 60px;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.empty:hover {
    background-color: green;
}

.hit:hover {
    background-color: red;
}

button {
    all: unset;
    text-align: center;
    min-width: 200px;
    min-height: 70px;
    font-size: 20px;
    color: black;
    background-color: cyan;
    border-radius: 16px;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}


@media (max-width: 600px) {

    .title {
        font-size: 48px;
    }

    h2 {
        font-size: 0.75em;
        min-width: 50px;
    }

    #gameStatus {
        height: 2%;
        padding: 0px 20px;
        gap: 20px;
        flex-flow: row;
        white-space: normal;
    }
    
    #gameContainer {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .grid {
        width: 340px;
        height: 320px;
        padding: 0px 0px;
        gap: 2px;
    }
    .column {
        width: auto;
        height: 320px;
        gap: 2px;
    }
    
    .row {
        width: 32px;
    }
}

@media (max-height: 600px) {

    .title {
        font-size: 48px;
    }

    h2 {
        font-size: 0.75em;
        min-width: 50px;
    }

    #gameStatus {
        height: 2%;
        padding: 0px 20px;
        gap: 20px;
        flex-flow: row;
        white-space: normal;
    }
    
    #gameContainer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }

    .grid {
        width: 340px;
        height: 320px;
        padding: 0px 0px;
        gap: 2px;
    }
    .column {
        width: auto;
        height: 320px;
        gap: 2px;
    }
    
    .row {
        width: 32px;
    }
}